<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-type" content="text/html">
  <title>mail</title>
</head>

<body style="margin: 0; padding: 0;">

  <table width="100%" bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding: 10px;">
    <tbody>
      <tr>
        <td>

          <table border="0" cellpadding="0" cellspacing="0" align="center"
            style="font-family: Arial, sans-serif; background-color: #fff; border-spacing: 0; margin-right: auto; margin-left: auto; margin-top: 0; margin-bottom: 0; padding: 0; width: 100%; max-width: 500px;">
            <tbody>

              <tr style="border-spacing: 0;">
                <td style="background-color: #ffd860; border-radius: 20px 20px 0 0; width: 100%;">
                  <div style="width: 100%; margin: 0 auto; box-sizing: border-box;">
                    <span
                      style="color: #131415; padding-top: 50px; padding-bottom: 30px; font-size: 36px; text-align: center; font-weight: 900; -webkit-text-size-adjust:none; display: block; text-transform: uppercase;">Регистрация
                      прошла успешно!</span>

                    <span
                      style="color: #131415; padding-bottom: 30px; font-size: 20px; text-align: center; font-weight: 400; -webkit-text-size-adjust:none; display: block; width: 400px; margin: 0 auto;">Как
                      только мы&nbsp;наберем 1&nbsp;000&nbsp;000&nbsp;см, начнется розыгрыш призов от&nbsp;СТС</span>
                  </div>
                </td>
              </tr>

              <tr style="border-spacing: 0;">
                <td style="background-color: #fff3cc; padding-top: 20px; padding-bottom: 20px; width: 100%;">
                  <div style="width: 260px; margin-left: auto; margin-right: auto; box-sizing: border-box;">

                    <span
                      style="color: #131415; font-size: 57px; text-align: center; font-weight: 900; -webkit-text-size-adjust:none; display: block; text-transform: uppercase;">{{number}}</span>

                    <span
                      style="color: #131415; font-size: 20px; text-align: center; font-weight: 400; -webkit-text-size-adjust:none; display: block;">Твой
                      номер в команде</span>

                  </div>
                </td>
              </tr>

              <tr style="border-spacing: 0;">
                <td style="border-radius: 0 0 20px 20px; width: 100%;">
                  <div
                    style="width: 100%; background-color: #ffc630; border-radius: 0 0 20px 20px; margin: 0 auto; padding: 0; box-sizing: border-box;">
                    <span
                      style="color: #131415; font-size: 20px; text-align: center; -webkit-text-size-adjust:none; display: block; width: 250px; margin: 0 auto; padding-top: 20px;">Следи
                      за результатом конкурса на <a href="https://vk.com/ctc" target="_blank"
                        style="color: #2b85aa;">ctc.ru</a></span>

                    <div style="width: 100%; margin-left: auto; margin-right: auto;">
                      <table style="border: 0; border-collapse: collapse;width: 100%;">
                        <tr>
                          <td style="height: 310px;background-image: url('{{path}}/img/bg.png');background-repeat: no-repeat;background-size: contain;background-position: center;border-radius: 0 0 20px 20px;vertical-align: bottom;overflow: hidden;">
                            <div style="line-height: 1em;color: #ffffff;font-size: {{fontSize}}px;font-weight: 600;margin: 0 auto {{mb}}px;letter-spacing: 2px;width: 110px;text-align: center;">{{number}}</div>
                          </td>
                        </tr>
                      </table>
                    </div>

                  </div>
                </td>
              </tr>

              <tr style="border-spacing: 0;">
                <td style="padding-top: 30px; padding-bottom: 30px; width: 100%;">
                  <div style="width: 337px; margin: 0 auto; box-sizing: border-box;">

                    <a href="https://vk.com/ctc" target="_blank" style="text-decoration: none; margin-right: 7px; margin-left: 7px;">
                      <img src="{{path}}/img/vk.png?v=2" alt="vk" width="66" height="66">
                    </a>

                    <a href="https://www.facebook.com/ctc" target="_blank" style="text-decoration: none; margin-right: 10px; margin-left: 7px;">
                      <img src="{{path}}/img/fb.png?v=2" alt="fb" width="66" height="66">
                    </a>

                    <a href="https://www.ok.ru/ctc" target="_blank" style="text-decoration: none; margin-right: 7px; margin-left: 7px;">
                      <img src="{{path}}/img/ok.png?v=2" alt="ok" width="66" height="66">
                    </a>

                    <a href="https://www.instagram.com/tv_ctc/" target="_blank" style="text-decoration: none; margin-right: 7px; margin-left: 7px;">
                      <img src="{{path}}/img/insta.png?v=2" alt="insta" width="66" height="66">
                    </a>

                  </div>
                </td>
              </tr>

            </tbody>
          </table>

        </td>
      </tr>
    </tbody>
  </table>

</body>

</html>
